*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

a, a:visited {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #eee;
}

a:active {
    color: #111;
}