:root {
    --default-text-color: #141414;
    --blue-text-color: #005ae2;
    --default-background: #ffffff;
    --blue-button: #0065fe;
    --white-button: #ffffff;
    --border-gradient-color: linear-gradient(180deg, #112232 0%, rgba(77, 107, 136, 0) 100%);
    --pricing-blue-background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    --url-blue: #3284ff;
    --faq-border: #d6d6d6;
  /* background: #112232;

  background: #071827;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  background: #4991ff;
  background: #d60505;
  background: #000000;
  background: linear-gradient(
    340.22deg,
    rgba(0, 90, 226, 0.6) 11.62%,
    rgba(115, 230, 255, 0.228) 83.25%
  );
  background: linear-gradient(
    262.84deg,
    rgba(158, 230, 247, 0) 1.35%,
    rgba(158, 230, 247, 0.184) 87.81%
  );
  background: linear-gradient(
    272.53deg,
    rgba(158, 230, 247, 0) -5.73%,
    rgba(158, 230, 247, 0.138) 86.33%
  );
  border: 5px solid;



  background: #ffffff;
  background: #3284ff21;
  background: linear-gradient(
    346.02deg,
    rgba(0, 90, 226, 0.6) 3.96%,
    rgba(115, 230, 255, 0.228) 76.18%
  );
  background: linear-gradient(
    262.34deg,
    rgba(158, 230, 247, 0) 1.47%,
    rgba(158, 230, 247, 0.184) 92.99%
  );
  background: linear-gradient(
    272.54deg,
    rgba(158, 230, 247, 0) -5.72%,
    rgba(158, 230, 247, 0.138) 86.38%
  );
  background: #001f3f;
  background: #067808;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  background: #3284ff;
  background: #e2e9f0;
  background: linear-gradient(
    180deg,
    rgba(226, 233, 240, 0.7) 10.68%,
    rgba(220, 228, 235, 0.7) 44.01%,
    rgba(226, 233, 240, 0) 100%
  );
  background: #eac81f;
  background: #f8f7f7;
  background: #f9fbfd;
  background: #fefefe1a; */
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy/Gilroy-Medium.ttf');
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/gilroy/Gilroy-Regular.ttf');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy/Gilroy-Bold.ttf');
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: "Gilroy-Medium";
}


body {
    background-color: var(--default-background);
    width: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}

.blue {
    color: var(--blue-text-color);
}

.white-button,.blue-button {
    padding: 16px 32px;
    border-radius: 100px;
    border: 0;
}

.white-button {
    background-color: var(--white-button);
    color: var(--blue-button);
}

.blue-button {
    background-color: var(--blue-button);
    color: var(--white-button);
}

.header {
    width: 1150px;
    height: 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    margin-top: 12px;

    .img {
        text-align: left;
    }
    nav {
        text-align: center;
        margin: 0 auto;

        ul{
            a {
                li {
                    display: inline-block;
                    font-size: 18px;
                    margin: 0 20px;
                }
            }
        }
    }
    .login {
        text-align: right;

    }
}

.container {
    width: 100%;
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    .section1 {
        width: 100%;
        align-content: center;
        .content {
            width: 948px;
            text-align: center;
            margin-top: 106px;
    
            h2 {
                font-family: "Gilroy-Bold";
                font-size: 48px;
                line-height: 96px;
            }
            
            p {
                width: 781px;
                margin: 0 auto;
                text-align: center;
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 32px;
            }
        }
    }
    .section3 {
        width: inherit;
        display: flex;
        grid-template-rows: 1fr 2fr;

        h3 {
            font-size: 40px;
            font-family: "Gilroy-Bold";
        }

        .rightside {
            display: flex;
            flex-direction: row;

            div {
                flex: 1;
            }

            .bigP {
                display: block;
                font-size: 32px;
                line-height: 40px;
            }
        }
    }
}